# Individual Person Carbon Footprint Data Cleaner

This notebook is used to load data from the spreadsheet containing the data about the carboon footprints of each individual person from the given .xlsx data file given as part of the Wells Fargo Campus Analytics Challenge.

## Section 1: Importing the required libraries

Import the required libraries for loading and augmenting the dataset

In [2]:
import pandas as pd
import numpy as np

## Section 2: Loading the Data

First we will load the data from the first spreadsheet ('Individuals') from given .xlsx file into a dataframe

In [3]:
# Loading the dataset into a dataframe
individuals_carbon_footprint_df = pd.read_excel(r'Data.xlsx', sheet_name='Individuals')

In [4]:
individuals_carbon_footprint_df.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,solar_powered__water_heater,gas_water_heater,electric_water_heater___peak_hou,electric_water_heater___off_peak,gas,natural_gas,hybrid,electric___peak_hours,electric___off_peak_hours,jetfuel
0,1,1,Household heating => 70F,hours,2.0,88.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,1,1,Household heating < 70F,hours,10.0,85.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,1,1,Use of heat pump,hours,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,Use of air conditioner,hours,20.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,shower - short,count,5.0,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Finding the shape of the data frame
individuals_carbon_footprint_df.shape

(27054, 16)

## Section 3 - Augmenting Data (Unpivot Dataframe)

This section is responsible to convert the data from 2-Dimensional Table Form which compares data of every individual v/s the type of resource used to a 1-Dimensional Table that lists out the data per individual. This process is like the reverse of pivoting a table.

In [6]:
# Converting the Dataset from a Big 2 Dimensional Individual v/s Resource Used table to Per Individual focused tabele 
individuals_carbon_footprint_table = pd.melt(individuals_carbon_footprint_df, id_vars=['Indnum', 'Group',
                                                                                       'Activity', 'Units', 'Consumption',
                                                                                       'Quality_of_Life_Importance__1_10'],
                                             value_vars=individuals_carbon_footprint_df.columns.values[6:],
                                             var_name='Name of Resource Used', value_name='Amount of Resource Used per Unit')

In [7]:
individuals_carbon_footprint_table.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,Name of Resource Used,Amount of Resource Used per Unit
0,1,1,Household heating => 70F,hours,2.0,88.0,solar_powered__water_heater,NaN
1,1,1,Household heating < 70F,hours,10.0,85.0,solar_powered__water_heater,1.0
2,1,1,Use of heat pump,hours,NaN,50.0,solar_powered__water_heater,NaN
3,1,1,Use of air conditioner,hours,20.0,45.0,solar_powered__water_heater,NaN
4,1,2,shower - short,count,5.0,98.0,solar_powered__water_heater,NaN

In [8]:
# Finding the shape of the new table to make sure that no data is lost
# The new number of records should be equal to the number of individuals * the number of different resources available.
# Here it is equal to - 27054 * 10 - 270540
individuals_carbon_footprint_table.shape

(270540, 8)

## Section 4 - Handling NaN Values

This section is responsible to actually handle/filter the various NaN values present in the Amount Column of the table when the dataframe has been melted (unpivoted)

In [10]:
#Cleaning the table, by dropping the records where we have NaN values in the column of amount of resource used per unit
individuals_carbon_footprint_table_drop_na = individuals_carbon_footprint_table.dropna(axis = 0)

In [11]:
# Make sure the data is as expected
individuals_carbon_footprint_table_drop_na.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,Name of Resource Used,Amount of Resource Used per Unit
1,1,1,Household heating < 70F,hours,10.0,85.0,solar_powered__water_heater,1.0
34,2,2,wash-up,count,44.0,34.0,solar_powered__water_heater,1.0
59,3,2,shower - long (> 3 min),count,40.0,85.0,solar_powered__water_heater,1.0
61,3,2,wash-up,count,45.0,27.0,solar_powered__water_heater,1.0
117,5,3,use of clothes washer,count,7.0,41.0,solar_powered__water_heater,1.0

In [12]:
# Finding the new number of records left after removing NaN Values
individuals_carbon_footprint_table_drop_na.shape

(8997, 8)

In [15]:
# Cleaning the table, by replacing the records where we have NaN values in the column of amount of resource used per unit with 0.0
individuals_carbon_footprint_table_replace_na_zero = individuals_carbon_footprint_table
individuals_carbon_footprint_table_replace_na_zero['Amount of Resource Used per Unit'] = np.nan_to_num(
    individuals_carbon_footprint_table_replace_na_zero['Amount of Resource Used per Unit'])

In [16]:
# Make sure the data is as expected
individuals_carbon_footprint_table_replace_na_zero.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,Name of Resource Used,Amount of Resource Used per Unit
0,1,1,Household heating => 70F,hours,2.0,88.0,solar_powered__water_heater,0.0
1,1,1,Household heating < 70F,hours,10.0,85.0,solar_powered__water_heater,1.0
2,1,1,Use of heat pump,hours,NaN,50.0,solar_powered__water_heater,0.0
3,1,1,Use of air conditioner,hours,20.0,45.0,solar_powered__water_heater,0.0
4,1,2,shower - short,count,5.0,98.0,solar_powered__water_heater,0.0

In [17]:
# Making sure that no record is dropped
individuals_carbon_footprint_table_replace_na_zero.shape

(270540, 8)

## Section 5 - Saving the Tables

This section is used to save the tables generated into csv files as part of saving data as we clean and filter it.

In [19]:
# Saving these data_frames into csv_files
individuals_carbon_footprint_table_drop_na.to_csv(r'Individuals_Carbon_Footprint_NA_Dropped.csv', index=False)
individuals_carbon_footprint_table_replace_na_zero.to_csv(r'Individuals_Carbon_Footprint_NA_Zeroed.csv', index=False)