# Individual Person Carbon Footprint Data Cleaner

This notebook is used to load data from the spreadsheet containing the data about the carboon footprints of each individual person from the given .xlsx data file given as part of the Wells Fargo Campus Analytics Challenge.

## Section 1: Importing the required libraries

Import the required libraries for loading and augmenting the dataset

In [1]:
import pandas as pd
import numpy as np

## Section 2: Loading the Data

First we will load the data from the first spreadsheet ('Individuals') from given .xlsx file into a dataframe

In [2]:
# Loading the dataset into a dataframe
individuals_carbon_footprint_df = pd.read_excel(r'Data.xlsx', sheet_name='Individuals')

In [3]:
individuals_carbon_footprint_df

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,solar_powered__water_heater,gas_water_heater,electric_water_heater___peak_hou,electric_water_heater___off_peak,gas,natural_gas,hybrid,electric___peak_hours,electric___off_peak_hours,jetfuel
0,1,1,Household heating => 70F,hours,2.0,88.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,1,1,Household heating < 70F,hours,10.0,85.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,1,1,Use of heat pump,hours,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,Use of air conditioner,hours,20.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,shower - short,count,5.0,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,2,shower - long (> 3 min),count,30.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,2,bath,count,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,2,wash-up,count,44.0,27.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,3,use of dishwasher,count,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,3,use of clothes washer,count,2.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,3,use of clothes dryer,count,3.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,3,use of cooking range,count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,3,use of oven,count,9.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,3,use of self-clean feature of electric oven,count,3.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,3,Small kitchen appliance in the home,count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,4,TV/computer use,count,64.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1,5,air travel - large plane,miles,2747.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,5,air travel - small plane (<50 seats),miles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,5,car trips- self only,miles,443.0,44.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
19,1,5,car trips - driver and self,miles,38.0,27.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
20,1,5,car trips - 2+ people with multiple end points,miles,10.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
21,1,5,trips using public ground transportation,bags,15.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1,6,bags of garbage disposed,bags,26.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1,6,bags of recycling deposited (negative CF),bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,6,bags of compost deposited (negative CF),bags,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1,6,hazardous or electric items disposed,bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1,6,large items disposed,items,2.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2,1,Household heating => 70F,count,7.0,77.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
28,2,1,Household heating < 70F,count,2.0,61.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
29,2,1,Use of heat pump,count,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27024,1001,6,bags of compost deposited (negative CF),bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27025,1001,6,hazardous or electric items disposed,bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27026,1001,6,large items disposed,items,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27027,1002,1,Household heating => 70F,count,1.0,82.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
27028,1002,1,Household heating < 70F,count,2.0,83.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
27029,1002,1,Use of heat pump,count,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27030,1002,1,Use of air conditioner,count,16.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,1002,2,shower - short,count,8.0,84.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
27032,1002,2,shower - long (> 3 min),count,23.0,89.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
27033,1002,2,bath,count,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27034,1002,2,wash-up,count,42.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27035,1002,3,use of dishwasher,count,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27036,1002,3,use of clothes washer,count,3.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27037,1002,3,use of clothes dryer,count,1.0,14.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
27038,1002,3,use of cooking range,count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
27039,1002,3,use of oven,count,12.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
27040,1002,3,use of self-clean feature of electric oven,count,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27041,1002,3,Small kitchen appliance in the home,count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27042,1002,4,TV/computer use,count,64.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27043,1002,5,air travel - large plane,miles,3166.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27044,1002,5,air travel - small plane (<50 seats),miles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27045,1002,5,car trips- self only,miles,323.0,54.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
27046,1002,5,car trips - driver and self,miles,11.0,22.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
27047,1002,5,car trips - 2+ people with multiple end points,miles,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
27048,1002,5,trips using public ground transportation,bags,16.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27049,1002,6,bags of garbage disposed,bags,26.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27050,1002,6,bags of recycling deposited (negative CF),bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27051,1002,6,bags of compost deposited (negative CF),bags,7.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27052,1002,6,hazardous or electric items disposed,bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27053,1002,6,large items disposed,items,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Finding the shape of the data frame
individuals_carbon_footprint_df.shape

(27054, 16)

## Section 3 - Augmenting Data (Unpivot Dataframe)

This section is responsible to convert the data from 2-Dimensional Table Form which compares data of every individual v/s the type of resource used to a 1-Dimensional Table that lists out the data per individual. This process is like the reverse of pivoting a table.

In [5]:
# Converting the Dataset from a Big 2 Dimensional Individual v/s Resource Used table to Per Individual focused tabele 
individuals_carbon_footprint_table = pd.melt(individuals_carbon_footprint_df, id_vars=['Indnum', 'Group',
                                                                                       'Activity', 'Units', 'Consumption',
                                                                                       'Quality_of_Life_Importance__1_10'],
                                             value_vars=individuals_carbon_footprint_df.columns.values[6:],
                                             var_name='Name of Resource Used', value_name='Amount of Resource Used per Unit')

In [8]:
individuals_carbon_footprint_table

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,Name of Resource Used,Amount of Resource Used per Unit
0,1,1,Household heating => 70F,hours,2.0,88.0,solar_powered__water_heater,NaN
1,1,1,Household heating < 70F,hours,10.0,85.0,solar_powered__water_heater,1.0
2,1,1,Use of heat pump,hours,NaN,50.0,solar_powered__water_heater,NaN
3,1,1,Use of air conditioner,hours,20.0,45.0,solar_powered__water_heater,NaN
4,1,2,shower - short,count,5.0,98.0,solar_powered__water_heater,NaN
5,1,2,shower - long (> 3 min),count,30.0,74.0,solar_powered__water_heater,NaN
6,1,2,bath,count,NaN,14.0,solar_powered__water_heater,NaN
7,1,2,wash-up,count,44.0,27.0,solar_powered__water_heater,NaN
8,1,3,use of dishwasher,count,NaN,20.0,solar_powered__water_heater,NaN
9,1,3,use of clothes washer,count,2.0,28.0,solar_powered__water_heater,NaN
10,1,3,use of clothes dryer,count,3.0,11.0,solar_powered__water_heater,NaN
11,1,3,use of cooking range,count,NaN,NaN,solar_powered__water_heater,NaN
12,1,3,use of oven,count,9.0,35.0,solar_powered__water_heater,NaN
13,1,3,use of self-clean feature of electric oven,count,3.0,15.0,solar_powered__water_heater,NaN
14,1,3,Small kitchen appliance in the home,count,NaN,NaN,solar_powered__water_heater,NaN
15,1,4,TV/computer use,count,64.0,23.0,solar_powered__water_heater,NaN
16,1,5,air travel - large plane,miles,2747.0,42.0,solar_powered__water_heater,NaN
17,1,5,air travel - small plane (<50 seats),miles,NaN,NaN,solar_powered__water_heater,NaN
18,1,5,car trips- self only,miles,443.0,44.0,solar_powered__water_heater,NaN
19,1,5,car trips - driver and self,miles,38.0,27.0,solar_powered__water_heater,NaN
20,1,5,car trips - 2+ people with multiple end points,miles,10.0,NaN,solar_powered__water_heater,NaN
21,1,5,trips using public ground transportation,bags,15.0,49.0,solar_powered__water_heater,NaN
22,1,6,bags of garbage disposed,bags,26.0,41.0,solar_powered__water_heater,NaN
23,1,6,bags of recycling deposited (negative CF),bags,NaN,NaN,solar_powered__water_heater,NaN
24,1,6,bags of compost deposited (negative CF),bags,3.0,6.0,solar_powered__water_heater,NaN
25,1,6,hazardous or electric items disposed,bags,NaN,NaN,solar_powered__water_heater,NaN
26,1,6,large items disposed,items,2.0,15.0,solar_powered__water_heater,NaN
27,2,1,Household heating => 70F,count,7.0,77.0,solar_powered__water_heater,NaN
28,2,1,Household heating < 70F,count,2.0,61.0,solar_powered__water_heater,NaN
29,2,1,Use of heat pump,count,NaN,55.0,solar_powered__water_heater,NaN
...,...,...,...,...,...,...,...,...
270510,1001,6,bags of compost deposited (negative CF),bags,NaN,NaN,jetfuel,NaN
270511,1001,6,hazardous or electric items disposed,bags,NaN,NaN,jetfuel,NaN
270512,1001,6,large items disposed,items,NaN,19.0,jetfuel,NaN
270513,1002,1,Household heating => 70F,count,1.0,82.0,jetfuel,NaN
270514,1002,1,Household heating < 70F,count,2.0,83.0,jetfuel,NaN
270515,1002,1,Use of heat pump,count,NaN,50.0,jetfuel,NaN
270516,1002,1,Use of air conditioner,count,16.0,56.0,jetfuel,NaN
270517,1002,2,shower - short,count,8.0,84.0,jetfuel,NaN
270518,1002,2,shower - long (> 3 min),count,23.0,89.0,jetfuel,NaN
270519,1002,2,bath,count,NaN,11.0,jetfuel,NaN
270520,1002,2,wash-up,count,42.0,34.0,jetfuel,NaN
270521,1002,3,use of dishwasher,count,NaN,20.0,jetfuel,NaN
270522,1002,3,use of clothes washer,count,3.0,32.0,jetfuel,NaN
270523,1002,3,use of clothes dryer,count,1.0,14.0,jetfuel,NaN
270524,1002,3,use of cooking range,count,NaN,NaN,jetfuel,NaN
270525,1002,3,use of oven,count,12.0,33.0,jetfuel,NaN
270526,1002,3,use of self-clean feature of electric oven,count,3.0,20.0,jetfuel,NaN
270527,1002,3,Small kitchen appliance in the home,count,NaN,NaN,jetfuel,NaN
270528,1002,4,TV/computer use,count,64.0,29.0,jetfuel,NaN
270529,1002,5,air travel - large plane,miles,3166.0,42.0,jetfuel,NaN
270530,1002,5,air travel - small plane (<50 seats),miles,NaN,NaN,jetfuel,NaN
270531,1002,5,car trips- self only,miles,323.0,54.0,jetfuel,NaN
270532,1002,5,car trips - driver and self,miles,11.0,22.0,jetfuel,NaN
270533,1002,5,car trips - 2+ people with multiple end points,miles,NaN,NaN,jetfuel,NaN
270534,1002,5,trips using public ground transportation,bags,16.0,57.0,jetfuel,NaN
270535,1002,6,bags of garbage disposed,bags,26.0,51.0,jetfuel,NaN
270536,1002,6,bags of recycling deposited (negative CF),bags,NaN,NaN,jetfuel,NaN
270537,1002,6,bags of compost deposited (negative CF),bags,7.0,15.0,jetfuel,NaN
270538,1002,6,hazardous or electric items disposed,bags,NaN,NaN,jetfuel,NaN
270539,1002,6,large items disposed,items,1.0,14.0,jetfuel,NaN

In [9]:
# Finding the shape of the new table to make sure that no data is lost
# The new number of records should be equal to the number of individuals * the number of different resources available.
# Here it is equal to - 27054 * 10 - 270540
individuals_carbon_footprint_table.shape

(270540, 8)

## Section 4 - Handling NaN Values

This section is responsible to actually handle/filter the various NaN values present in the Amount Column of the table when the dataframe has been melted (unpivoted)

In [10]:
#Cleaning the table, by dropping the records where we have NaN values in the column of amount of resource used per unit
individuals_carbon_footprint_table_drop_na = individuals_carbon_footprint_table.dropna(axis = 0)

In [11]:
# Make sure the data is as expected
individuals_carbon_footprint_table_drop_na.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,Name of Resource Used,Amount of Resource Used per Unit
1,1,1,Household heating < 70F,hours,10.0,85.0,solar_powered__water_heater,1.0
34,2,2,wash-up,count,44.0,34.0,solar_powered__water_heater,1.0
59,3,2,shower - long (> 3 min),count,40.0,85.0,solar_powered__water_heater,1.0
61,3,2,wash-up,count,45.0,27.0,solar_powered__water_heater,1.0
117,5,3,use of clothes washer,count,7.0,41.0,solar_powered__water_heater,1.0

In [12]:
# Finding the new number of records left after removing NaN Values
individuals_carbon_footprint_table_drop_na.shape

(8997, 8)

In [15]:
# Cleaning the table, by replacing the records where we have NaN values in the column of amount of resource used per unit with 0.0
individuals_carbon_footprint_table_replace_na_zero = individuals_carbon_footprint_table
individuals_carbon_footprint_table_replace_na_zero['Amount of Resource Used per Unit'] = np.nan_to_num(
    individuals_carbon_footprint_table_replace_na_zero['Amount of Resource Used per Unit'])

In [16]:
# Make sure the data is as expected
individuals_carbon_footprint_table_replace_na_zero.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,Name of Resource Used,Amount of Resource Used per Unit
0,1,1,Household heating => 70F,hours,2.0,88.0,solar_powered__water_heater,0.0
1,1,1,Household heating < 70F,hours,10.0,85.0,solar_powered__water_heater,1.0
2,1,1,Use of heat pump,hours,NaN,50.0,solar_powered__water_heater,0.0
3,1,1,Use of air conditioner,hours,20.0,45.0,solar_powered__water_heater,0.0
4,1,2,shower - short,count,5.0,98.0,solar_powered__water_heater,0.0

In [17]:
# Making sure that no record is dropped
individuals_carbon_footprint_table_replace_na_zero.shape

(270540, 8)

## Section 5 - Saving the Tables

This section is used to save the tables generated into csv files as part of saving data as we clean and filter it.

In [19]:
# Saving these data_frames into csv_files
individuals_carbon_footprint_table_drop_na.to_csv(r'Individuals_Carbon_Footprint_NA_Dropped.csv', index=False)
individuals_carbon_footprint_table_replace_na_zero.to_csv(r'Individuals_Carbon_Footprint_NA_Zeroed.csv', index=False)